<div class="container-fluid" [ngClass]="[theme + '-theme']">
  <div class="container pt-3">
    <div class="row w-100 pt-2 gutter-0 elementToFadeIn" style="position: relative">
      <p class="staat m-0" style="font-size: 1.5rem" [ngClass]="[theme + '-theme']" (click)="router.navigate('/')">Shubham Singh</p>
      <button class="smallFont staat float-right theme-icon"
              [ngStyle]="{ 'border' : '2px solid ' + (theme === 'light' ? '#000000' : 'whitesmoke')}"
              [ngClass]="[theme + '-theme']" (click)="toggleTheme()">
        <img src="../assets/yoda.png" style="margin-top: 2px" width="27.5px" *ngIf="theme === 'dark'">
        <img src="../assets/darthVader.svg" style="margin-top: 1px" width="21px" *ngIf="theme === 'light'">
      </button>
      <a class="smallFont staat float-right ml-3 theme-button" href="assets/resume.pdf" target="_blank"
         [ngStyle]="{ 'border' : '2px solid ' + (theme === 'light' ? '#000000' : 'whitesmoke')}"
         [ngClass]="[theme + '-theme']">
        <div style="height: 4px; width: 100%"></div>
        <span style="padding-left: 7.5px; padding-right: 10px;">
            &nbsp;&nbsp;<i class="fa fa-download p-0" style="font-size: 15px;"></i>&nbsp;&nbsp;
            r&#233;sum&#233;
          </span>
      </a>
    </div>
  </div>

  <div class="container pt-2 elementToFadeIn">
    <div class="pt-0 mr-4 pr-1 justify-content-around" style="float: left">
      <a class="smallFont staat " target="_blank" href="https://github.com/strcoder4007" [ngClass]="[theme + '-theme']">Github</a>
      <span class="mediumFont staat ml-3" style="margin-top: -2px" [ngClass]="[theme + '-theme']">|</span>
      <a class="smallFont staat ml-3" target="_blank" href="https://www.linkedin.com/in/shubham-singh-15b76951" [ngClass]="[theme + '-theme']">Linkedin</a>
      <span class="mediumFont staat ml-3" style="margin-top: -2px" [ngClass]="[theme + '-theme']">|</span>
      <a class="smallFont staat ml-3" target="_blank" href="https://angel.co/shubham-singh-128" [ngClass]="[theme + '-theme']">Angel</a>
      <span class="mediumFontstaat ml-3" style="margin-top: -2px" [ngClass]="[theme + '-theme']">|</span>
      <a class="smallFont staat ml-3" href="mailto:mynameshubham@gmail.com" [ngClass]="[theme + '-theme']">Email</a>
    </div>
  </div>

  <div class="container pt-4 py-md-5">
    <div class="row elementToFadeIn my-3 mt-sm-4">
      <a href="#experience" class="col staat largeFont d-block d-sm-none" [ngClass]="[theme + '-theme']">exp.</a>
      <a href="#experience" class="col staat largeFont d-none d-sm-block" [ngClass]="[theme + '-theme']">
        <span style="float: left;">experience</span>
      </a>

      <a href="#projects" class="col staat largeFont d-block d-sm-none" [ngClass]="[theme + '-theme']">proj.</a>
      <a href="#projects" class="col staat largeFont d-none d-sm-block" [ngClass]="[theme + '-theme']">
        <span style="padding-left: 2vw">projects</span>
      </a>

      <a href="#programming"class="col staat largeFont d-block d-sm-none" [ngClass]="[theme + '-theme']">prog.</a>
      <a href="#programming"class="col staat largeFont d-none d-sm-block" [ngClass]="[theme + '-theme']">
        <span style="padding-left: 2.5vw">programming</span>
      </a>

      <a href="/memseq" target="_blank" class="col staat largeFont" [ngClass]="[theme + '-theme']">
        <span style="padding-left: 5vw">blog</span>
      </a>
    </div>
  </div>

  <div class="container elementToFadeIn my-1 w-100">
    <app-home [theme]="theme"></app-home>
  </div>

  <button id="backUpButton" class="backUpButton"
          [ngClass]="[theme + '-theme']"
          [ngStyle]="{'border' : '2px solid ' + (theme === 'light' ? '#000000' : 'whitesmoke')}"
          (click)="topFunction()">
    <i class="fa fa-long-arrow-up p-0" style="margin: auto auto; position: relative;" aria-hidden="true"></i>
  </button>

</div>
