.fa {
    font-size: 25px;
    padding: 10px;
    color: white;
    transition: color 0.2s ease;
}
.fa-github:hover {
    color: #222;
}
.fa-linkedin:hover {
    color: #0077b5;
}
.fa-envelope-o:hover {
    color: crimson;
}

.mynavOptions {
    color: white;
    font-family: 'Circular Std Black';
    cursor: pointer;
    transition: color 0.2s ease;
    text-align: center;
}
.mynavOptions:hover {
    color: crimson;
}

.myComponents {
    max-height: none;
    padding-bottom: 150px;
}

@media(max-width: 1920px) {
    .mynavOptions, .fa{
        font-size: 85px;
    }
}
@media(max-width: 1600px){
    .mynavOptions, .fa{
        font-size: 75px;
    }
}

@media(max-width: 1366px){
    .mynavOptions, .fa{
        font-size: 55px;
    }
}
@media(max-width: 1150px){
    .mynavOptions, .fa{
        font-size: 50px;
    }
}
@media(max-width: 1000px){
    .mynavOptions, .fa{
        font-size: 40px;
    }
}
@media(max-width: 768px){
    .mynavOptions, .fa{
        font-size: 35px;
    }
}

@media(max-width: 720px){
    .mynavOptions, .fa{
        font-size: 28px;
    }
}

@media(max-width: 580px){
    .mynavOptions, .fa{
        font-size: 22px;
    }
}

@media(max-width: 450px){
    .mynavOptions, .fa{
        font-size: 15px;
    }
}