<div class="container-fluid d-sm-none mt-3">
  <div class="row gutter-0 elementToFadeIn justify-content-around">
    <p class="is-primary staat largeFont m-0">Shubham Singh</p>
  </div>
</div>

<div class="container-fluid elementToFadeIn">
    <div class="row mt-3 mr-2 justify-content-around">
      <a class="col offset-md-1 smallFont is-primary staat float-left d-none d-sm-block" href="/"></a>
      <a class="smallFont is-primary staat float-right ml-3" target="_blank" href="https://github.com/strcoder4007">Github</a>
      <span class="mediumFont staat is-primary float-right ml-3" style="margin-top: -2px">|</span>
      <a class="smallFont is-primary staat float-right ml-3" target="_blank" href="https://www.linkedin.com/in/shubham-singh-15b76951">Linkedin</a>
      <span class="mediumFont staat is-primary float-right ml-3" style="margin-top: -2px">|</span>
      <a class="smallFont is-primary staat float-right ml-3" target="_blank" href="https://angel.co/shubham-singh-128">Angel</a>
      <span class="mediumFont staat is-primary float-right ml-3" style="margin-top: -2px">|</span>
      <a class="smallFont is-primary staat float-right ml-3" href="mailto:mynameshubham@gmail.com">Email</a>
    </div>
</div>

<div class="container-fluid pt-4 py-md-5">
  <div class="row elementToFadeIn my-3 mt-sm-4">
    <a href="#experience" class="col offset-md-1 is-primary staat largeFont d-block d-sm-none">exp.</a>
    <a href="#experience" class="col offset-md-1 is-primary staat largeFont d-none d-sm-block">experience</a>

    <a href="#projects" class="col justify-content-around is-primary staat largeFont d-block d-sm-none">proj.</a>
    <a href="#projects" class="col justify-content-around is-primary staat largeFont d-none d-sm-block">projects</a>

    <a href="#programming"class="col justify-content-around is-primary staat largeFont d-block d-sm-none">prog.</a>
    <a href="#programming"class="col justify-content-around is-primary staat largeFont d-none d-sm-block">programming</a>

    <a href="assets/resume.pdf" target="_blank" class="col justify-content-around is-primary staat largeFont pl-2 pl-sm-3 pl-md-5">r&#233;sum&#233;</a>

    <a href="/memseq" target="_blank" class="col justify-content-start is-primary staat largeFont">blog</a>
  </div>
</div>

<div class="container-fluid elementToFadeIn my-1 w-100">
    <router-outlet></router-outlet>
</div>

<button id="backUpButton" class="backUpButton bg-black" (click)="topFunction()">
  <i class="fa fa-long-arrow-up p-0" style="margin: auto auto; position: relative;" aria-hidden="true"></i>
</button>
