<div class="row gutter-0 elementToFadeIn">
    <div class="container-fluid pull-right mt-3 mr-2">
      <a class="smallFont is-primary staat float-right ml-3" target="_blank" href="mailto:mynameshubham@gmail.com">Email</a>
      <span class="mediumFont staat is-primary float-right ml-3" style="margin-top: -4px">|</span>
      <a class="smallFont is-primary staat float-right ml-3" target="_blank" href="https://angel.co/shubham-singh-128">Angel</a>
      <span class="mediumFont staat is-primary float-right ml-3" style="margin-top: -4px">|</span>
      <a class="smallFont is-primary staat float-right ml-3" target="_blank" href="https://www.linkedin.com/in/shubham-singh-15b76951">Linkedin</a>
      <span class="mediumFont staat is-primary float-right ml-3" style="margin-top: -4px">|</span>
      <a class="smallFont is-primary staat float-right ml-3" target="_blank" href="https://github.com/strcoder4007">Github</a>
    </div>
</div>

<div class="container-fluid py-md-5">
  <div class="row elementToFadeIn mt-5">
    <a href="#projects" class="col offset-md-1 is-primary staat largeFont">projects</a>
    <a href="#programming"class="col is-primary staat largeFont">programming</a>
    <a href="assets/resume.pdf" target="_blank" class="col is-primary staat largeFont">r&#233;sum&#233;</a>
    <a href="/memseq" target="_blank" class="col is-primary staat largeFont">blog</a>
  </div>
</div>

<div class="container-fluid elementToFadeIn my-4 w-100">
    <router-outlet></router-outlet>
</div>
