.prog {
    min-height: 120px;
    border: 2px solid white;
    margin: 10px;
    padding: 0px !important;
}
.progPara {
    padding:10px;
}

.project {
    height: 250px;
    border: 2px solid white;
    margin: 10px;
    padding: 0px !important;
}
.projectLink {
    transition: color 0.2s ease;
}
.projectLink:hover {
    color: crimson;
    cursor: pointer;    
}
.projectTech {
    font-family: 'Circular Std Book';
    font-size: 20px;
    color: whitesmoke;
}
.myBtn {
    margin: 40px;
    width: 200px;
    height: 40px;
    color: #fff;
    font-family: 'Circular Std Book';
    font-size: 18px;
    border: 2px solid #fff;
    background: transparent;
    border-radius: 0px;
}
.myBtn:hover {
    background-color: white;
    color: black;
}

.disableEffect:hover {
    color:gray !important;
}
