<div class="container-fluid myComponent">
    <p class="about">I am a self-motivated and self-taught full stack web developer with 5 years of experience.
            My key skills are in C++, JavaScript (AngularJS, NodeJs), Typescript(Angular 4, NodeJs), Python, Bootstrap, HTML5, CSS3 and MongoDB. I've developed several web apps using AngularJS & Angular4 frameworks. Additionally, I am 3 years experienced in programming intricate algorithms and use C++ to code them.
    </p>
    <p id="projects" class="mynavOptions">projects</p>
    <div class="row gutter-0" style="margin-top: 30px;">
        <div class="container-fluid">

            <span *ngFor="let project of myProjects1; let i = index">
            <div class="col-xs-6 col-md-4 project">
                <div class="row gutter-0 projectHeadingContainer"><p class="projectHeading">{{project.heading}}</p></div>
                <div class="row gutter-0 projectAbout"><span>{{project.about}}</span></div>
                <div class="row gutter-0 techSection">                        
                    <div class="col-md-12 projectAbout" style="text-align: left; padding: 0px"><strong>Technologies Used:<br></strong>      <span *ngFor="let tech of project.tech">{{tech}} </span>
                    </div>
                </div>
                <div class="row gutter-0" style="height: 40px">
                    <div class="col-xs-6" style="text-align: center"><a href="{{project.git}}" class="projectLink" target="_blank"><i class="fa fa-github"></i>&nbsp;View on Github</a>
                    </div>
                    <div class="col-xs-6" style="text-align: center"><a href="{{project.live}}" class="projectLink" target="_blank"><i class="fa fa-desktop"></i>&nbsp;View Live</a>
                    </div>
                </div>
            </div>
            </span>

            <div *ngIf="loadFirst" class="elementToFadeIn">
                <span *ngFor="let project of myProjects2; let i = index">
                    <div class="col-xs-6 col-md-4 project">
                        <div class="row gutter-0 projectHeadingContainer"><p class="projectHeading">{{project.heading}}</p></div>
                        <div class="row gutter-0 projectAbout"><span>{{project.about}}</span></div>
                        <div class="row gutter-0 techSection">                        
                            <div class="col-md-12 projectAbout" style="text-align: left; padding: 0px"><strong>Technologies Used:<br></strong>      <span *ngFor="let tech of project.tech">{{tech}} </span>
                            </div>
                        </div>
                        <div class="row gutter-0" style="height: 40px">
                            <div class="col-xs-6" style="text-align: center"><a href="{{project.git}}" class="projectLink" target="_blank"><i class="fa fa-github"></i>&nbsp;View on Github</a>
                            </div>
                            <div class="col-xs-6" style="text-align: center"><a href="{{project.live}}" class="projectLink" target="_blank"><i class="fa fa-desktop"></i>&nbsp;View Live</a>
                            </div>
                        </div>
                    </div>
                </span>
            </div>

            <div *ngIf="loadSecond" class="elementToFadeIn">
                <span *ngFor="let project of myProjects3; let i = index">
                    <div class="col-xs-6 col-md-4 project">
                        <div class="row gutter-0 projectHeadingContainer"><p class="projectHeading">{{project.heading}}</p></div>
                        <div class="row gutter-0 projectAbout"><span>{{project.about}}</span></div>
                        <div class="row gutter-0 techSection">                        
                            <div class="col-md-12 projectAbout" style="text-align: left; padding: 0px"><strong>Technologies Used:<br></strong>      <span *ngFor="let tech of project.tech">{{tech}} </span>
                            </div>
                        </div>
                        <div class="row gutter-0" style="height: 40px">
                            <div class="col-xs-6" style="text-align: center"><a href="{{project.git}}" class="projectLink" target="_blank"><i class="fa fa-github"></i>&nbsp;View on Github</a>
                            </div>
                            <div class="col-xs-6" style="text-align: center"><a href="{{project.live}}" class="projectLink" target="_blank"><i class="fa fa-desktop"></i>&nbsp;View Live</a>
                            </div>
                        </div>
                    </div>
                </span>
            </div>

            <div class="row gutter-0" style="text-align: center">
                <button class="btn myBtn" (click)="loadMore()">{{buttonText}}</button>
            </div>

        </div>
    </div>

    <p id="programming" class="mynavOptions">programming</p>


</div>  