.myComponent {
    max-height: none;
    padding: 50px 5vw;
}

.about {
    color: whitesmoke;
    font-family: 'Circular Std Book';
    font-size: 20px;
    text-align: justify;
    padding-bottom: 30px;
}

.mynavOptions {
    color: white;
    font-family: 'Circular Std Black';
    font-size: 40px;
    transition: color 0.2s ease;
    margin: 30px 0px;
}

.project {
    height: 250px;
    border: 2px solid white;
    margin: 10px;
    padding: 0px !important;
}
.projectHeading {
    font-family: 'Circular Std Book';
    color: #000;
    padding-top: 5px;
}
.projectAbout {
    font-family: 'Circular Std Book';
    font-size: 13px;
    text-align: justify;
    color: whitesmoke;
}
.projectHeadingContainer{
    background-color: white;
    text-align: center;
}
.projectLink {
    text-align: center;
    font-size: 13px;
    font-family: 'Circular Std Book';
    color: whitesmoke;
    transition: color 0.2s ease;
}
.projectLink:hover {
    color: #f8584e;
    cursor: pointer;    
}
.projectTech {
    font-family: 'Circular Std Book';
    font-size: 20px;
    color: whitesmoke;
}
.techSection {
    padding: 5px;
    height: 170px;
}
.myBtn {
    margin: 40px;
    width: 200px;
    height: 40px;
    color: white;
    font-family: 'Circular Std Book';
    font-size: 18px;
    border: 2px solid white;
    background: transparent;
    border-radius: 0px;
}
.myBtn:hover {
    background-color: white;
    color: black;
}



@media(max-width: 1920px) {
    .mynavOptions{
        font-size: 65px;
    }
    .about {
        font-size: 30px;
    }
    .project{
        width: 530px;
        height: 400px;
    }
    .projectHeadingContainer {
        font-size: 30px;
        height: 50px;
    }
    .projectAbout {
        height: 130px;
        font-size: 25px;
        padding: 10px;
    }
    .projectLink{
        font-size: 25px;
    }
    .techSection {
        padding: 10px;
        height: 170px;
    }
}
@media(max-width: 1600px){
    .mynavOptions{
        font-size: 55px;
    }
    .about {
        font-size: 28px;
    }
    .project{
        width: 400px;
        height: 300px;
    }
    .projectHeadingContainer {
        font-size: 25px;
        height: 45px;
    }
    .projectAbout {
        height: 105px;
        font-size: 20px;
        padding: 7px;
    }
    .projectLink{
        font-size: 20px;
    }
    .techSection {
        padding: 7px;
        height: 100px;
    }
}

@media(max-width: 1366px){
    .mynavOptions{
        font-size: 45px;
    }
    .about {
        font-size: 20px;
    }
    .project{
        width: 375px;
        height: 300px;
    }
    .projectHeadingContainer {
        font-size: 20px;
        height: 40px;
    }
    .projectAbout {
        height: 100px;
        font-size: 18px;
        padding: 5px;
    }
    .projectLink{
        font-size: 18px;
    }
    .techSection {
        padding: 5px;
        height: 110px;
    }
}
@media(max-width: 1150px){
    .mynavOptions{
        font-size: 30px;
    }
}
@media(max-width: 1000px){
    .mynavOptions{
        font-size: 25px;
    }
}
@media(max-width: 768px){
    .mynavOptions{
        font-size: 20px;
    }
    .about {
        font-size: 15px;
    }
}

@media(max-width: 720px){
    .mynavOptions{
        font-size: 20px;
    }
}

@media(max-width: 580px){
    .mynavOptions{
        font-size: 20px;
    }
    .project{
        width: 350px;
        min-height: 200px;
    }
}

@media(max-width: 450px){
    .mynavOptions{
        font-size: 20px;
    }
    .project{
        width: 300px;
        min-height: 200px;
    }
}