<div class="container-fluid myComponent">
    <p class="about">I am a hard working and self motivated full stack web developer with 9 years experience, based in Birmingham, UK.<br>
    My key skills are in JavaScript (Angular2, AngularJS and Node.js), HTML5, CSS3, PHP, MongoDB and MySQL. I've also developed several hybrid apps for iOS and Android using the Ionic framework. Additionally I am experienced in deploying and scaling linux servers for high traffic volume websites.
    </p>
    <p class="mynavOptions">projects</p>
    <div class="row gutter-0" style="margin-top: 30px;">
        <div class="container-fluid">
            <div class="col-xs-6 col-md-4 project">
                <div class="row gutter-0 projectHeadingContainer"><p class="projectHeading">Time My Show</p></div>
                <p class="projectAbout">A web app to keep track of your favourite television shows by notifying for new episodes.</p>
                <p><b>Made using:</b></p>
                <ul>
                    <li>Angular 4</li>
                    <li>Typescript</li>
                    <li>NodeJs</li>
                    <li>Bootstrap</li>
                </ul>
            </div>
            <div class="col-xs-6 col-md-4 project">
                    <div class="row gutter-0 projectHeadingContainer"><p class="projectHeading">Time My Show</p></div>
                    <p class="projectAbout">A web app to keep track of your favourite television shows by notifying for new episodes.</p>
                    <p><b>Made using:</b></p>
                    <ul>
                        <li>Angular 4</li>
                        <li>Typescript</li>
                        <li>NodeJs</li>
                        <li>Bootstrap</li>
                    </ul>
                </div>
            <div class="col-xs-6 col-md-4 project">
                        <div class="row gutter-0 projectHeadingContainer"><p class="projectHeading">Time My Show</p></div>
                        <p class="projectAbout">A web app to keep track of your favourite television shows by notifying for new episodes.</p>
                        <p><b>Made using:</b></p>
                        <ul>
                            <li>Angular 4</li>
                            <li>Typescript</li>
                            <li>NodeJs</li>
                            <li>Bootstrap</li>
                        </ul>
                    </div>
        </div>
    </div>
</div>